
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#logo-img {
  margin-top: 14px;
  width: 100px;
}

.social-logo {
  width: 40px;
  display: inline;
  margin-top: 5px; 
  margin-left: 5px;
}

a {
  color: black;
  font-weight: 500;
}