
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#logo-img {
  margin-top: 14px;
  width: 100px;
}

.social-logo {
  width: 40px;
  display: inline;
  margin-top: 5px; 
  margin-left: 5px;
}

h1 {
    background: linear-gradient(104deg, #332992 10%, #40A9F4 40% );
    /*This is the coolest styling trick ever*/
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 12px;
}

h2 {
    background: linear-gradient(104deg, #332992 0%, #40A9F4 20% );
    /*This is the coolest styling trick ever*/
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#subheader {
  font-size: 20px;
  line-height: 40px;
}

a.deep-purple-text.text-darken-4 {
    font-size: 20px;
}