body {
    -webkit-font-smoothing: antialiased;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
  flex: 1 0 auto;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

img {
    transition: 1.2s cubic-bezier(0.2, 0.8, 0.2, 1);
}

#logo-img {
  margin-top: 14px;
  width: 100px;
  animation: rotating 10s linear infinite;
}

#logo-img:hover {
  transform: rotate(88deg);

}

.social-logo {
  width: 40px;
  margin-top: 5px; 
  margin-left: 5px; 
}

h1 {
    background: linear-gradient(104deg, #332992 10%, #40A9F4 40% );
    /*This is the coolest styling trick ever*/
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
    padding-bottom: 15px; 
    
}

h2,
h3 {
    background: linear-gradient(104deg, #332992 0%, #40A9F4 20% );
    /*This is the coolest styling trick ever*/
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4 {
    /* font-weight: 500; */
    background: linear-gradient(104deg, #332992 0%, #40A9F4 50% );
    /*This is the coolest styling trick ever*/
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}



.subheader {
  font-size: 20px;
  line-height: 40px;
  padding-top: 0;
  padding-left: 0;
}

a.deep-purple-text.text-darken-4 {
    font-size: 20px;
}

i.icon-blue {
    color:#332992;
}

.graphic-title {
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 50px;
}

.contact-link {
  color: #332992;
  font-weight: 500;
}

.collapsible {
  box-shadow: none;
  border: none;
}

.job-title {
    padding-left: 10px;
}

.collapsible-header {
  padding-top: 10px;
  position: relative;
}

.last-collapsible {
  border: none;
}


.icon-style {
  padding: 10px;
  font-size: 20px;
  position: absolute;
  right: 10px;
}

@keyframes rotating {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


@media (max-width: 425px) { 
  .employer-img {
    display: none;
  }
  .subheader {
    font-size: 15px;
    line-height: 25px;
  }
  #logo-img {
    margin-top: 19px;
    width: 70px;
  }
 }
